<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Đăng Nhập</title>
	<link rel="stylesheet" type="text/css" href="./demo1.css">
	<script src="https://kit.fontawesome.com/54f0cb7e4a.js" crossorigin="anonymous"></script>
</head>
<body>
		<header>
			<div class="container-menu1">
				<div class="container1">
					<div class="logo">
						<li><a href="./index.html"><img src="./img/low-res-logo.png" width="250px"></a></li>
					</div>
					<div class="search">
						<li><input placeholder="Tìm kiếm..." type="" name="" ><i class="fas fa-search"></i></li>
					</div>
					<div class="orther">
						<li><a class="orther-bag" href="">Giỏ hàng của bạn <i class="fal fa-shopping-basket"></i></a></li>
						<li><a class="orther-login" href="">Đăng nhập <i class="fas fa-sign-in-alt"></i></a></li>
					</div>
				
				</div>
			</div>
		<section class="container-menu2">
			<div class="container2">
				<div class="container-danhmuc">
					<li><i class="fas fa-caret-down"></i> <b>DANH MỤC SẢN PHẨM</b>
						<ul class="submenu0">
							<li><a href=""><b>Sách nổi bật</b></a>
								<ul class="submenu1">
									<li><a href="">Sách bán chạy</a></li>
									<li><a href="">Sách mới</a></li>
									<li><a href="">Sắp phát hành</a></li>
									<li><a href="">Sách giảm giá</a></li>
								</ul>
							</li>
							<li><a href="">Sách kinh tế</a>
								<ul class="submenu1">
									<li><a href="">Tài chính - Kế toán</a></li>
									<li><a href="">Quản trị - Lãnh đạo</a></li>
									<li><a href="">Marketing - Bán hàng</a></li>
									<li><a href="">Kĩ năng làm việc</a></li>
									<li><a href="">Kinh tế học</a></li>
									<li><a href="">Khởi nghiệp</a></li>
									<li><a href="">Doanh nhân - Tập đoàn</a></li>
									<li><a href="">Bài học - Kinh doanh</a></li>
								</ul>
							</li>
							<li><a href="">Văn học nước ngoài</a>
								<ul class="submenu1">
									<li><a href="">Tiểu sử - Hồi ký</a></li>
									<li><a href="">Truyện lịch sử - Kiếm hiệp</a></li>
									<li><a href="">Truyện ngắn - Tản văn</a></li>
									<li><a href="">Tác phẩm kinh điển</a></li>
									<li><a href="">Huyền bí - Giả tưởng</a></li>
									<li><a href="">Truyện trinh thám - Kinh dị</a></li>
									<li><a href="">Tiểu thuyết tình cảm - Lãng mạn</a></li>
									<li><a href="">Tiểu thuyết đam mỹ</a></li>
									<li><a href="">Bách Hợp</a></li>
								</ul>
							</li>
							<li><a href="">Văn học trong nước</a>
								<ul class="submenu1">
									<li><a href="">Tiểu thuyết</a></li>
									<li><a href="">Truyện ngắn - Tản văn</a></li>
									<li><a href="">huyền bí - Giả tưởng</a></li>
									<li><a href="">Phóng sự - Ký sự</a></li>
									<li><a href="">Trinh thám - Kinh dị</a></li>
									<li><a href="">Tiểu sử - Hồi Ký</a></li>
								</ul>
							</li>
							<li><a href="">Sách kĩ năng sống</a>
								<ul class="submenu1">
									<li><a href="">Kĩ năng sống</a></li>
									<li><a href="">Nghệ thuật sống đẹp</a></li>
								</ul>
							</li>
							<li><a href="">Sách tuổi teen</a>
								<ul class="submenu1">
									<li><a href="">Văn học teen</a></li>
									<li><a href="">Hướng nghiệp - Kĩ năng</a></li>
									<li><a href="">Light Novel</a></li>
									<li><a href="">Truyện tranh - Comic</a></li>
								</ul>
							</li>
							<li><a href="">Học ngoại ngữ</a>
								<ul class="submenu1">
									<li><a href="">Từ điển</a></li>
									<li><a href="">Sách học tiếng Anh</a></li>
									<li><a href="">Sách học tiếng Hoa</a></li>
									<li><a href="">Sách học tiếng Nhật</a></li>
								</ul>
							</li>
							<li><a href="">Sách thiếu nhi</a>
								<ul class="submenu1">
									<li><a href="">Truyện cổ tích - Thần thoại</a></li>
									<li><a href="">Vừa học vừa chơi</a></li>
									<li><a href="">Kiến thức - Kĩ năng</a></li>
									<li><a href="">Văn học</a></li>
									<li><a href="">Truyện kể cho bé</a></li>
								</ul>
							</li>
							<li><a href="">Thưởng thức đời sống</a>
								<ul class="submenu1">
									<li><a href="">Văn hóa - Du lịch</a></li>
									<li><a href="">Chăm sóc sức khỏe</a></li>
									<li><a href="">Phong thủy - Nhà cửa</a></li>
									<li><a href="">Nấu ăn</a></li>
									<li><a href="">Thể thao - Giải trí</a></li>
								</ul>
							</li>
							<li><a href="">Sách chuyên nghành</a>
								<ul class="submenu1">
									<li><a href="">Giáo dục</a></li>
									<li><a href="">Công nghệ thông tin</a></li>
									<li><a href="">Lịch sử - Địa lí</a></li>
									<li><a href="">Khoa học tự nhiên</a></li>
									<li><a href="">Mỹ thuật - Kiến trúc</a></li>
									<li><a href="">Chính trị - Triết học</a></li>
									<li><a href="">Doanh nhân - Người nổi tiếng</a></li>
									<li><a href="">Tâm linh - Tôn giáo</a></li>
									<li><a href="">Y dược</a></li>
									<li><a href="">Khoa học xã hội</a></li>
								</ul>
							</li>
							<li><a href="">Văn phòng phẩm - Quà tặng</a>
								<ul class="submenu1">
									<li><a href="">Bóp viết - Hộp bút</a></li>
									<li><a href="">Bình nước, bình giữ nhiệt</a></li>
									<li><a href="">Phụ kiện, quà tặng</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</div>
				<div class="hotline">
						<li><span style="color: #000000;">Hotline: </span> 0123 456 789</li>
				</div>
			</div>
		</section>
				</header>
		<!-- =============================GiuaxwTrang===================================== -->
		<div class="adress-form"><br>
			<span >Đăng Nhập hoặc <b><a style="color: black;" href="./register.html">Đăng Ký</a></b></span>
			<form class="login" method="post" action="">
				<h1>Đăng Nhập</h1><br>
				<label for="email">Email:</label>
				<input id="email" type="text" name="email" placeholder="Nhập email của bạn"><br><br>
				<label for="password">Password:</label>
				<input id="password" type="password" name="password" placeholder="Nhập mật khẩu của bạn"><br><br>
				<a id="forgotpassword" href="">Quên mật khẩu ?</a><br><br>
				<button>Đăng Nhập</button> <a id="register" href="./register.php">Đăng kí tài khoản</a>
			</form><br>
		</div>

		<!-- ============================Cuối Trang===================================== -->
		<br><br><div class="container-footer-menu">
			<div class="footer-menu">
				<div class="footertop">
					<h3>Mua Sách Online Tại Thuviensach.vn </h3><br>
					<span class="textfooter">
					<p>- Với đầu sách phong phú, thuộc các thể loại: Văn học nước ngoại, Văn học trong nước, Kinh tế, Kỹ năng sống, Thiếu nhi, Sách học ngoại ngữ, Sách chuyên ngành,... được cập nhật liên tục từ các nhà xuất bản uy tín trong nước. </p>
					 - Miễn phí hoàn trả trong vòng 7 ngày (kể từ ngày mua hàng) <br>
					- Giao hàng miễn phí trên toàn quốc <br>
					- Thanh toán an toàn 100% <br>
					- Đổi hàng trong vòng 7 ngày nếu sách có bất kỳ lỗi nào trong quá trình in ấn sẽ giúp Quý khách yên tâm hơn khi mua sắm tại Thuviensach.vn
					</span>
					<br> <br> <br> <br>
				</div>
				<div class="footerbot">
					<div class="content-footer">
						<ul>
						<li style="padding-left: 12px;" class="group-footer">
							HỖ TRỢ KHÁCH HÀNG
							<ul>
								<li class="group-footer">Email: admin@123.com
								<ul>
									<li class="group-footer" >Holine:<b>0123 456 789</b></li>
								</ul>
							</li>
							</ul>
						</li>
						<li class="group-footer">
							GIỚI THIỆU
							<ul>
								<li class="group-footer"><a href="./gioi-thieu.html">Giới thiệu về trang</a>
									<ul>
											<li class="group-footer"><a href="./tuyendung.html">tuyển dụng</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="group-footer">
						HƯỚNG DẪN
							<ul>
								<li class="group-footer"><a href="./phuongthucthanhtoan.html">Phương thức thanh toán</a>
									<ul>
										<li class="group-footer"><a href="./phuongthucvanchuyen.html">Phương thức vận chuyển</a></li>
									</ul>
								</li>
							</ul>
						</li>
						</ul>
					</div>
						<div class="content-group-facebook">
						<div class="content-group">
							<div class="group-facebook">
								<div class="logo-gr-faceook-top">
									<a href="#"><img style="width: 170px;" src="./img/low-res-logo.png" style="width: 100px; margin-top: 10px;"></a>
								</div>
								<div class="logo-gr-faceook-bot">
									<a style="color: white; margin-left: 5px;" href="#"> <i style=" margin-top: 4px; width: 30px; color: #0068FF;" class="fab fa-facebook"></i>Thuviensach</a>
									<a id="btnthichtrang" href="#">Thích Trang </a>
								</div>
							</div>
						</div>
						</div>
				</div>
			</div>
		</div>

</body>
</html>